<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h3>You are logged in as {{username}}</h3>

    {% for message in all_the_messages %}
    <p>{{message.time}} <strong>{{message.sender}}: </strong>{{ message.body }}</p>
    {% endfor %}

    <form action="/{{username}}/new" method="POST">
        <input type="text" name="message" placeholder="Write Something" />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>
