<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Welcome to the Chat!</h1>
    <h5>Please enter your name to join the chat!</h5>
    <form action="/login" method='POST'>
        <input type="text" name="query" placeholder="Your name" />
        <input type="submit" value="Join" />
    </form>

</body>

</html>
